.castContainer {
  padding: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  width: 150px;
  text-align: center;
}

.list img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}